body {
    font-family: sans-serif;
    background-color: #ffffff;
    /*clean white bg */
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.dashboard-title {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.dashboard-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px;
}

/* bar and donut charts next to each other */
.top-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

/* hidden boundaries for the visualizations */
.chart-card {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
    box-sizing: border-box;
}

.flex-half {
    flex: 1;
    /* splits space equally between bar and donut chart */
    min-width: 0;
}

.full-width {
    width: 100%;
}

/* ensure visualizations scale nicely within their boundaries */
svg {
    display: block;
    width: 100%;
    height: auto;
}

.chart-title {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    fill: #000000;
    text-anchor: middle;
}

.axis-label {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    fill: #000000;
    text-anchor: middle;
}

.bar.active {
    fill: #e74c3c !important;
    /* color for selected filter (generation) */
}

#bar-chart {
    width: 500px;
    height: 350px;
    display: inline-block;
    vertical-align: top;
}

#donut-chart {
    width: 700px;
    height: 350px;
    display: inline-block;
    vertical-align: top;
}

#pcp-chart {
    width: 1000px;
    height: 320px;
    display: block;
    margin-top: 5px;
}

.inner-slice-label {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    fill: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0), -1px -1px 2px rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

/* default pcp line */
.pcp-line {
    fill: none;
    stroke-width: 2px;
    stroke-opacity: 0.7;
    transition: stroke-width 0.2s, stroke-opacity 0.2s;

}

.pcp-axis path,
.pcp-axis line {
    stroke: #000000;
}

.pcp-axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #272727;
}

.dashboard-title {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}